@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #383838;
}

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    min-height: 500px;
    max-width: 100%;
}

.club__add {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0px;
    max-width: 100%;
}

.club__add input {
    outline: none;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #F0F0F0;
    font-size: 0.9rem;
}

.club__add input:focus {
    background-color: #e0e0e0;
} 

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    max-width: 100%;
}

.button:hover {
    transform: scale(1.03);
    background-color: #e0e0e0;
}

.club__list {
    margin: 15px 0px;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}